body {
    background-color: #C5AF93;
}

.bg {
    position: fixed;
}

.Leaf1 {
    position: fixed;
    left: 10px;
    bottom: 10px;
    opacity: 0.8;
}

.Leaf2 {
    position: fixed;
    right: 10px;
    top: 10px;
    opacity: 0.8;
}

.Name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 1;
    background-color: rgba(250, 235, 215, 0.575);
    padding: 15px;
    border: 4px double rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}