---
import Header from "../components/Header.astro";
import Svg from "../components/Svg.astro";
import Name from "../components/Name.astro";
import Content from "../components/Content.astro";
---

<html lang="en">

    <Header />

  <body>

    <Svg />

    <canvas id="grainCanvas"></canvas>

    <Name />

    <Content />

  </body>
</html>