---
import Header from "../components/Header.astro";
import Svg from "../components/Svg.astro";
import Name from "../components/Name.astro";
import Content from "../components/Content.astro";
import MusicPlayer from "../components/MusicPlayer.astro";

const song = {
  name: "Calm Piano Music",
  artist: "Clavier Music",
  album: "Modern Classical",
  url: "/assets/calm-piano-music.mp3",
  cover_art_url: "/assets/calm-piano-music-cover.png",
};
---


<html lang="en">

    <Header />

  <body>

    <MusicPlayer {...song} />

    <Svg />

    <canvas id="grainCanvas"></canvas>

    <Name />

    <img src="/public/assets/down-arrow.svg" alt="Scroll down" class="arrow">


    <Content />

        <img src="/public/assets/up-arrow.svg" alt="Back to top" class="back-to-top" onclick="window.scrollTo({top:0,behavior:'smooth'})">
      
        <canvas id="dustCanvas" style="position:fixed;top:0;left:0;width:100vw;height:100vh;pointer-events:none;z-index:0;"></canvas>
  </body>
</html>