---
import Header from "../components/Header.astro";
import Svg from "../components/Svg.astro";
import Name from "../components/Name.astro";
---

<html lang="en">

    <Header />

  <body>

    <img class="bg" src="/Assets/texture.png" alt="BG">

    <Svg />

    <Name />

  </body>
</html>